{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Partner Store Apis",
    "description": "APIs for Cloud Solution Provider partners that manage customer accounts, place orders, manage subscriptions, and handle support requests.",
    "version": "v1"
  },
  "host": "api.partnercenter.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v{version}/offers/{offer_id}/addons": {
      "get": {
        "tags": [
          "AddOnOffers"
        ],
        "summary": "Retrieves all add-on offers of an offer using country and locale information.",
        "operationId": "Get /v{version}/offers/{offer_id}/addons?country={country_value}",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "offer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "country",
            "in": "query",
            "description": "The country information. Two letter representation of country"
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the requested add-on offers.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Offer]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/subscriptions/{subscription_id}/addons": {
      "get": {
        "tags": [
          "AddOnSubscriptions"
        ],
        "summary": "Retrieves all add-on subscriptions of a subscription for the customer of a partner by their active directory tenant identifier.",
        "operationId": "Get /v{version}/customers/{customer_id}/subscriptions/{subscription_id}/addons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "subscription_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the requested add-on subscription information.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Subscription]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/carts/{cart_id}/checkout": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Places the order using an existing cart.",
        "operationId": "Post /v{version}/customers/{customer_id}/carts/{cart_id}/checkout",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "cart_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the order result information.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Contracts.Orders.CartCheckoutResult"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/countryvalidationrules/{country}": {
      "get": {
        "tags": [
          "CountryValidationRules"
        ],
        "summary": "Gets the market validation data.",
        "operationId": "Get /v{version}/countryvalidationrules/{country}",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "country",
            "in": "path",
            "required": true,
            "description": "The country."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. Returns validation rules in the response body.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.CountryValidationRules"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Retrieves a segment of a partner's customers. Optional filtering of customers can also be applied.\r\n            Customers can only be filtered by a string which their company name or domain name starts with. Full search is not supported currently.\r\n            Customers can be filtered using a {Microsoft.Partner.Sdk.Contracts.V1.Query.Filters.FieldFilterOperation.StartsWith} filter operation and specifying either: DisplayName (Company name) or DefaultDomainName\r\n            as the filter field.",
        "operationId": "Get /v{version}/customers?filter={filter_value}&size={size_value}&seekOperation={seekOperation_value}",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "filter",
            "in": "query",
            "description": "An optional customers filter. This is a Json object that looks like:\r\n            {\r\n            \"Field\": \"your desired filter field\",\r\n            \"Operator\": \"StartsWith\"\r\n            \"Value\": \"Your search string\"\r\n            }"
          },
          {
            "type": "integer",
            "name": "size",
            "in": "query",
            "description": "The maximum number of customers to return.",
            "format": "int32"
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "seekOperation",
            "in": "query",
            "enum": [
              "next",
              "previous",
              "first",
              "last",
              "pageIndex"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains a list of customers that match the filter.  A continuation token is included if the response is paged by the page size. This token can be passed to /customers?seek=<seek> to seek customer results.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Customer]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Creates the customer profile.",
        "operationId": "Post /v{version}/customers",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "name": "customerProfile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Customer"
            },
            "description": "The new customer information."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The newly created customer information is embedded in the response body.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Customer"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Retrieves a single customer of a partner by their active directory tenant identifier.",
        "operationId": "Get /v{version}/customers/{customer_id}",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the requested customer information.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Customer"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Deletes a customer tenant from a testing in production account.",
        "operationId": "Delete /v{version}/customers/{customer_id}",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "204": {
            "description": "The customer was successfully deleted from the TIP account."
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Customer"
        ],
        "summary": "Patch operation is only valid when customer.RelationshipToPartner == CustomerPartnerRelationship.None \r\n            and it is used to remove the the Partner Customer reseller relationship.",
        "operationId": "Patch /v{version}/customers/{customer_id}",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "name": "customer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Customer"
            },
            "description": "The Customer data."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and the Partner Customer reseller relationship removed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Customer"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/directoryroles": {
      "get": {
        "tags": [
          "Staged",
          "CustomerDirectoryRoleManagement"
        ],
        "summary": "Gets all the directory roles supported for customers.",
        "operationId": "Get /v{version}/customers/{customer_id}/directoryroles?role_id={role_id_value}&size={size_value}&seekOperation={seekOperation_value}",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "role_id",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "size",
            "in": "query",
            "format": "int32"
          },
          {
            "type": "string",
            "name": "seekOperation",
            "in": "query",
            "enum": [
              "next",
              "previous",
              "first",
              "last",
              "pageIndex"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains a list of supported customer directory roles for all customers.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Contracts.RoleManagement.DirectoryRole]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Staged",
          "CustomerDirectoryRoleManagement"
        ],
        "summary": "Adds a new user member to a directory role with a given role id.",
        "operationId": "Post /v{version}/customers/{customer_id}/directoryroles?role_id={role_id_value}",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "role_id",
            "in": "query"
          },
          {
            "name": "userMember",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Contracts.RoleManagement.UserMember"
            },
            "description": "The new user member to add."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "201": {
            "description": "The request was successful. The response body will contain the newly created user member.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Contracts.RoleManagement.UserMember"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Staged",
          "CustomerDirectoryRoleManagement"
        ],
        "summary": "Removes a user member of given member id from directory role with a given role id.",
        "operationId": "Delete /v{version}/customers/{customer_id}/directoryroles?member_id={member_id_value}&role_id={role_id_value}",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "member_id",
            "in": "query"
          },
          {
            "type": "string",
            "name": "role_id",
            "in": "query"
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "204": {
            "description": "The user member was successfully removed from the directory role."
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/directoryroles/{role_id}/usermembers": {
      "get": {
        "tags": [
          "Staged",
          "CustomerDirectoryRoleManagement"
        ],
        "summary": "Gets all the directory roles supported for customers.",
        "operationId": "Get /v{version}/customers/{customer_id}/directoryroles/{role_id}/usermembers?size={size_value}&seekOperation={seekOperation_value}",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "role_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "name": "size",
            "in": "query",
            "format": "int32"
          },
          {
            "type": "string",
            "name": "seekOperation",
            "in": "query",
            "enum": [
              "next",
              "previous",
              "first",
              "last",
              "pageIndex"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains a list of supported customer directory roles for all customers.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Contracts.RoleManagement.DirectoryRole]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Staged",
          "CustomerDirectoryRoleManagement"
        ],
        "summary": "Adds a new user member to a directory role with a given role id.",
        "operationId": "Post /v{version}/customers/{customer_id}/directoryroles/{role_id}/usermembers",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "role_id",
            "in": "path",
            "required": true
          },
          {
            "name": "userMember",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Contracts.RoleManagement.UserMember"
            },
            "description": "The new user member to add."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "201": {
            "description": "The request was successful. The response body will contain the newly created user member.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Contracts.RoleManagement.UserMember"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/directoryroles/{role_id}/usermembers/{member_id}": {
      "delete": {
        "tags": [
          "Staged",
          "CustomerDirectoryRoleManagement"
        ],
        "summary": "Removes a user member of given member id from directory role with a given role id.",
        "operationId": "Delete /v{version}/customers/{customer_id}/directoryroles/{role_id}/usermembers/{member_id}",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "member_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "role_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "204": {
            "description": "The user member was successfully removed from the directory role."
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/analytics/licenses/usage": {
      "get": {
        "tags": [
          "CustomerLicenseInsights"
        ],
        "summary": "Retunrs usage insights of customer's licenses",
        "operationId": "Get /v{version}/customers/{customer_id}/analytics/licenses/usage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the usage insights.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.Analytics.CustomerLicensesUsageInsights"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/analytics/licenses/deployment": {
      "get": {
        "tags": [
          "CustomerLicenseInsights"
        ],
        "summary": "Return deployment insights of customer's licenses",
        "operationId": "Get /v{version}/customers/{customer_id}/analytics/licenses/deployment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the deployment insights.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.Analytics.CustomerLicensesDeploymentInsights"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/offercategories": {
      "get": {
        "tags": [
          "CustomerOfferCategory"
        ],
        "summary": "Gets all offer categories for a customer.",
        "operationId": "Get /v{version}/customers/{customer_id}/offercategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the offer categories.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.OfferCategory]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/offers": {
      "get": {
        "tags": [
          "CustomerOffers"
        ],
        "summary": "Retrieves the offers available for the customer to purchase.",
        "operationId": "Get /v{version}/customers/{customer_id}/offers?offer_category_id={offer_category_id_value}&offset={offset_value}&size={size_value}",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "offer_category_id",
            "in": "query"
          },
          {
            "type": "integer",
            "name": "offset",
            "in": "query",
            "description": "The page offset. Optional parameter",
            "format": "int32"
          },
          {
            "type": "integer",
            "name": "size",
            "in": "query",
            "description": "The page size. Optional parameter",
            "format": "int32"
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains a list of offers available for the customer to purchase.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Offer]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/offers/{offer_id}/addons": {
      "get": {
        "tags": [
          "CustomerOffers"
        ],
        "summary": "Retrieves the addons under the provided offer that are available for the customer to purchase.",
        "operationId": "Get /v{version}/customers/{customer_id}/offers/{offer_id}/addons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "offer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains a list of addons for the provided offer that are available for the customer to purchase.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.Offer]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/profiles/billing": {
      "get": {
        "tags": [
          "CustomerProfile"
        ],
        "summary": "Retrieves a customer's billing profile.",
        "operationId": "Get /v{version}/customers/{customer_id}/profiles/billing",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the requested customer's billing profile.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.CustomerBillingProfile"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "CustomerProfile"
        ],
        "summary": "Updates a customer's billing profile.",
        "operationId": "Put /v{version}/customers/{customer_id}/profiles/billing",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "name": "customerBillingProfile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.CustomerBillingProfile"
            },
            "description": "The new customer billing profile information."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the updated billing profile.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.CustomerBillingProfile"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/profiles/company": {
      "get": {
        "tags": [
          "CustomerProfile"
        ],
        "summary": "Retrieves a customer's company profile.",
        "operationId": "Get /v{version}/customers/{customer_id}/profiles/company",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the company profile.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.CustomerCompanyProfile"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/usagesummary": {
      "get": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Retrieves the usage summary for a customer.",
        "operationId": "Get /v{version}/customers/{customer_id}/usagesummary",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the usage summary.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.UsageManagement.CustomerUsageSummary"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/usagerecords": {
      "get": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Retrieves the usage records of customers for a partner.",
        "operationId": "Get /v{version}/customers/usagerecords",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the partner's monthly usage records for all of its customers.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.PagedResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.UsageManagement.CustomerMonthlyUsageRecord]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/managedservices": {
      "get": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Retrieves a customer's list of managed services customer.",
        "operationId": "Get /v{version}/customers/{customer_id}/managedservices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the list of managed services.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.ManagedService]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/usagebudget": {
      "get": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Retrieves the customer spending budget.",
        "operationId": "Get /v{version}/customers/{customer_id}/usagebudget",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the requested customer's usage spending budget information.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.UsageManagement.SpendingBudget"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Updates the customer spending budget.",
        "operationId": "Patch /v{version}/customers/{customer_id}/usagebudget",
        "consumes": [
          "application/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "text/json"
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "name": "customerSpendingBudget",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.UsageManagement.SpendingBudget"
            },
            "description": "The customer spending budget."
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The specified usage spending budget has been updated.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.UsageManagement.SpendingBudget"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/relationships": {
      "get": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Retrieves a segment of a partner's resellers for a specific customer Id.",
        "operationId": "Get /v{version}/customers/{customer_id}/relationships",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains a list of partner relationships associated with the specified customer.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.Collections.ResourceCollection[Microsoft.Partner.Sdk.Contracts.V1.PartnerRelationship]"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/relationships/partner": {
      "delete": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Removes reseller relationships\r\n            This route will be purged in future. Please use \"{customer_id}/CustomerPartnerRelationships/reseller\"",
        "operationId": "Delete /v{version}/customers/{customer_id}/relationships/partner",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "204": {
            "description": "The Partner Customer relationship is successfully deleted."
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/CustomerPartnerRelationships/reseller": {
      "delete": {
        "tags": [
          "CustomerResources"
        ],
        "summary": "Removes Partner Customer reseller relationship",
        "operationId": "Delete /v{version}/customers/{customer_id}/CustomerPartnerRelationships/reseller",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "204": {
            "description": "The Partner Customer reseller relationship is successfully deleted."
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/customers/{customer_id}/servicerequests/{service_request_id}": {
      "get": {
        "tags": [
          "CustomerServiceRequests"
        ],
        "summary": "Gets the incident details for an incident created for a customer",
        "operationId": "Get /v{version}/customers/{customer_id}/servicerequests/{service_request_id}",
        "consumes": [],
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "service_request_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "version",
            "in": "path",
            "required": true,
            "enum": [
              "1.0",
              "1"
            ]
          },
          {
            "type": "string",
            "name": "MS-CorrelationId",
            "in": "header",
            "description": "A unique identifier for the call, useful in logs and network traces for troubleshooting errors. The value should be reset for every call. All operations should include this header."
          },
          {
            "type": "string",
            "name": "MS-RequestId",
            "in": "header",
            "description": "A unique identifier for the call, used to ensure idempotency. In the case of a timeout, the retry call should include the same value. Upon receiving a response (success or business failure), the value should be reset for the next call."
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful. The response body contains the requested customer's service request.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Partner.Sdk.Contracts.V1.ServiceRequest"
            }
          },
          "400": {
            "description": "There was a missing or an invalid input. The response body will provide the error details."
          },
          "401": {
            "description": "The request was not authenticated. The client needs to authenticate with the partner API service first."
          },
          "403": {
            "description": "The request was authenticated but was refused since the caller does not have the rights to invoke it."
          },
          "404": {
            "description": "The resource is not found or not available with the given input parameters."
          },
          "500": {
            "description": "The partner API service or one of its dependencies failed to fulfill the request. Callers may retry this."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "CustomerServiceRequests"
        ],
        "summary": "Updates the incident details for an incident created for a customer",
[...]
